<div class="side-bar-sub-page-container ">
    <div class="side-bar-sub-page-title">
        @Title
    </div>

    <div class="side-bar-sub-page-main-content">
        @ChildContent
    </div>
</div>
