.side-bar-sub-page-container {
       height: inherit;
       width: inherit;
       display: flex;
       flex-direction: column;
       
       padding-top: 1rem;
}

.side-bar-sub-page-title {
    height: 10%;
    width: 100%;
    text-align: start;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondary-color);

}
.side-bar-sub-page-main-content {
    height: 90%;
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
