@page "/unsupervised-reinforcement"
@layout MainLayout
@rendermode InteractiveServer
@inject Services.InstanceAttributeStateContainer stateContainer


<div class="side-bar-menu-group-location">
    <SidebarMenuGroup BuildData=@SideNavigationBuildData />
</div>


<div class="main-content">
    @* <CascadingValue name="CurrentEnvironmentDimension_X" Value="@environmentDimension_X">
        <CascadingValue name="CurrentEnvironmentDimension_Y" Value="@environmentDimension_Y"> *@
            <TwoDimensionMazeEnv />
        @* </CascadingValue>
     </CascadingValue>  *@
</div>
