
.reinforcment-page-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 96vh;
    width: 100vw;
    left: 0px;
    align-content: center;
    justify-content: center;
    z-index: 1;
    background-color: blue;
    
}

.main-content {
    height: 100%;
    width: 100%;
    left: 0px;
    align-content: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
    
}


.side-bar-menu-group {
    
    left: 0px;
    z-index: 2;
    width: var(--left-side-naviagtion-buttons-padding);
}


