@page "/unsupervised-reinforcement"
@layout MainLayout
@rendermode InteractiveServer


<div class="side-bar-menu-group-location">
    <SidebarMenuGroup BuildData=@SideNavigationBuildData />
</div>


<div class="main-content">

    
    
    
</div>
