@page "/unsupervised-reinforcement"
@layout MainLayout
@rendermode InteractiveServer
@inject Services.InstanceAttributeStateContainer stateContainer

<div class="reinforcment-page-container">
    <div class="side-bar-menu-content">
        @* <SidebarMenuGroup BuildData=@SideNavigationBuildData /> *@
        <SideNavigationGroup />
    </div>
    <div class="main-content">

        <TwoDimensionMazeEnv />

    </div>



</div>
