@* @inject Services.InstanceAttributeStateContainer stateContainer *@


<div class="environment__container ">
    <div style="grid-template-columns: repeat(@CurrentEnvironmentDimension_X, 1fr);grid-template-rows: repeat(@CurrentEnvironmentDimension_Y, 1fr);" class="environment__layout">
        @foreach (var elm in @EnvironmentNodesData)
        {

            <MazeNode NodeIndex="@elm.nodeIndex" BackgroundColor="@elm.BackgroundColor" OnClickCallBack="HandleNodeSelection" />
        }

       
    </div>

    
</div>

