.content-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


label {
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--secondary-color);
}

.attribute-content {
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--secondary-color);
}