@rendermode InteractiveServer
@inject IJSRuntime JS
@using MachineLearningApplication_Build_2.Components.SubPages.SideBarMenuGroupSubPages.ReinforcementLearning

<div id="sidebar-menu-group-container" class="@SideBarNavMenuContainerCSS">

    <div id="sidebar-menu-button-group-container" class="sidebar-menu-button-group-container">

        <div class="sidebar-menu-button-group">
            <SideNaviagationButtonGroup BuildData=@ButtonBuildData />
        </div>

        <div id="sidebar-menu-tool-tips-group" class="sidebar-menu-tool-tips-group">
            <SideNavigationButtonGroupToolTips BuildData=@ToolTipBuildData />
        </div>

    </div>
    <div id="opacity-filter" class="opacity-filter">
        <div class="@SubPageVisability ">
            @CurrentDisplayedSubPage
        </div>
    </div>

</div>



