@rendermode InteractiveServer
@inject IJSRuntime JS
@using MachineLearningApplication_Build_2.Components.SubPages.SideBarMenuGroupSubPages.ReinforcementLearning

<div class="side-naviagtion-group-container">
    <IconButtonWithDropDown ButtonText="Item 1" />
    <IconButtonWithDropDown ButtonText="Item 2" />
    <IconButtonWithDropDown ButtonText="Item 3" />
    <IconButtonWithDropDown ButtonText="Item 4" />
</div>
