@rendermode InteractiveServer
@using MachineLearningApplication_Build_2.Components.SubPages.SideBarMenuGroupSubPages.UnsupervisedLearning

<div class="sidebar-menu-group-container">
    <div class="sidebar-menu-button-group-container">

        <div class="sidebar-menu-button-group">
            <SideNaviagationButtonGroup BuildData=@ButtonBuildData />
        </div>

        <div class="sidebar-menu-tool-tips-group">
            <SideNavigationButtonGroupToolTips BuildData=@ToolTipBuildData />
        </div>

    </div>

    <div Class="@SubPageVisability">
        @CurrentDisplayedSubPage
    </div>

</div>
