@rendermode InteractiveServer
@inject IJSRuntime JS
@using MachineLearningApplication_Build_2.Components.SubPages.SideBarMenuGroupSubPages.ReinforcementLearning

<div class="side-naviagtion-group-container">
    <IconButtonWithDropDown ButtonText="Item 1" Icon="bi bi-info-square" />
    <IconButtonWithDropDown ButtonText="Item 2" Icon="bi bi bi-gear-fill" />
    <IconButtonWithDropDown ButtonText="Item 3" Icon="bi bi-globe-americas" />
    <IconButtonWithDropDown ButtonText="Item 4" Icon="bi bi-share-fill" />
    <IconButtonWithDropDown ButtonText="Item 5" Icon="bi bi-send-fill" />
</div>
