@rendermode InteractiveServer
@inject IJSRuntime JS
@using MachineLearningApplication_Build_2.Components.SubPages.SideBarMenuGroupSubPages.ReinforcementLearning

<div class="side-naviagtion-group-container">
    Hello
</div>
