.main-content {
    position: fixed;
    background-color: transparent;
    padding-top: 2vh;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 1;
}


.side-bar-menu-group-location {
    position: fixed;
    left: 0px;
    width: 30vw;
    height: 50vh;
    z-index: 10;
}


