@page "/unsupervised-reinforcement"
@layout MainLayout

<div class="side-navigation-button-group">
    <SideNaviagationButtonGroup BuildData=@SideNavigationBuildData />

</div>


<div class="main-content">
    
    
</div>
