<button class="button-container" @onclick=@Handle_OnClickCallBack>
    <div class="button-icon">
        <SingleIcon Icon="@Button_Icon" IconColor="@Button_Icon_Color" ></SingleIcon>
    </div>
    <span class="button-icon-text">@Button_Title</span>
</button>
