

<div class="card-container">
    <div class="card-title">@CardBuildData.CardTitle</div>

   
    <div class="card-list-contaienr">
        
    @foreach (IconAndDescriptionCard_StateClass data in @CardBuildData.IconAndDescriptionCard_StateClasses)
        {
        <IconAndDescription_Card IconType=@data.IconType IconColor=@data.IconColor IconSize=@data.IconSize Description=@data.Description/>

        }
    </div> 

</div>
