@using MachineLearningApplication_Build_2

<SideBarMenuGroupSubPageLayout Title="@PageTitle">
    <div class="information-sub-page-main-content">
        <SubHeadingUnderlined SubHeadingText="Core Concept"/>
            @TextContent.introduction

        <SubHeadingUnderlined SubHeadingText="Process" />
            @TextContent.process

    </div>

</SideBarMenuGroupSubPageLayout>
