<SideBarMenuGroupSubPageLayout Title="@PageTitle">
    <div class="information-sub-page-main-content">
        <SubHeadingUnderlined SubHeadingText="Core Concept"/>

        <SubHeadingUnderlined SubHeadingText="Process" />

    </div>

</SideBarMenuGroupSubPageLayout>
