<div class="horizontal-button-group-container">
    <IconButton ButtonIcon="bi bi-info-square" ButtonIconColor="red"/>
    <IconButton ButtonIcon="bi bi-info-square" ButtonIconColor="blue" />
    <IconButton ButtonIcon="bi bi-info-square" ButtonIconColor="yellow" />
    <IconButton ButtonIcon="bi bi-info-square" ButtonIconColor="green" />
</div>
