@using MachineLearningApplication_Build_2.Components.Buttons.Buttons_Individual

<div class="horizontal-button-group-container">
    @foreach (var elm in @ButtonBuildData)
    {
        <IconButton ButtonTitle="@elm.ButtonTitle" ButtonIcon="@elm.ButtonIcon" ButtonIconColor="@elm.ButtonIconColor" OnClickCallBack=@elm.OnClickCallBack/>
    }
</div>
