.topbar {
    width: 100%;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    
}

.topbar-item,
.topbar-title,
.topbar-button,
.topbar-searchbar,
.searchbar_icon,
.searchbar_input {
    background-color: transparent;
    align-items: center;
    display: inline-block;
}

.topbar-center,
.topbar-left,
.topbar_right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.topbar-left {
    justify-content: flex-start;
}
.topbar-center {
    justify-content: center;
}

.topbar_right {
    justify-content: flex-end;
}

.topbar-title {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}


.topbar-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.topbar-button-hover {
}
    .topbar-button-hover:hover {
        border-radius: 4px;
        background-color: var(--tertiary-color);
    }

.topbar-searchbar-container {
    display: flex;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    width: 30vw;
    height: 1.8rem;
    align-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding-left:8px;
}

.topbar-searchbar-container:focus-within {
    outline: none;
    border-color: transparent;
    background-color: whitesmoke;
}

.searchbar_icon {
    height: 1.6rem;
    width: 1.6rem;
}

.searchbar_input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

    .searchbar_input:focus {
        outline: none;
        background-color: whitesmoke;
    }

    .searchbar_input::placeholder {
        color: var(--tertiary-color);
    }








