<div class="topbar">
    <div class="topbar_left-item-container">

        <div class="topbar_item">
            <button class="topbar_brand_button">
                <img src="Images/LogoOption1.png" class="logo-container-small" />
            </button>
        </div>

        <div class="topbar_item topbar_text-style">Machine Learning </div>
    </div>

    <div class="topbar_center-item-container">
        <div class="topbar_search-bar-container">
            <img src="Images/LogoOption1.png" class="search-icon" />
            <input type="text" class="topbar_search-input" placeholder="Search..." />   
        </div>
        <button>place holder</button>
    </div>

    <div class="topbar_right-item-container">
        <div class="topbar_item topbar_text-style">Settings</div>
    </div>

</div>
