@rendermode InteractiveServer

<div class="topbar">
    <div class="topbar-left">
            <ToolTip ToolTipText="Menu">
            <button class="topbar-button topbar-button-hover">
                        <i class="bi bi-list icon_white"></i>
                    </button>
           </ToolTip>

        <button class="topbar-button">
            <div class="topbar-title">Machine Learning </div>
            </button>
        </div>
    
    <div class="topbar-center">
        <div class="topbar-searchbar-container">
            <img src="Images/LogoOption1.png" class="searchbar_icon" />
            <input type="text" class="searchbar_input" placeholder="Search reasources and services" />
        </div>
    </div>
    
    <div class=".topbar_right">
        <ToolTip ToolTipText="Notifications">
            <button class="topbar-button topbar-button-hover">
                <i class="bi bi-bell icon_white"></i>
            </button>
        </ToolTip>

        <ToolTip ToolTipText="Settings">
            <button class="topbar-button topbar-button-hover">
                <i class="bi bi-gear icon_white"></i>
            </button>
        </ToolTip>

        <ToolTip ToolTipText="Help">
            <button class="topbar-button topbar-button-hover">
                <i class="bi bi-patch-question icon_white"></i>
            </button>
        </ToolTip>
    </div>

</div>
