.topbar {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px var(--secondary-color);
}

.topbar_item {
    background-color: transparent;
    align-content: center;
}

.topbar_center-item-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.topbar_left-item-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.topbar_item-left {
    background-color: transparent;
    align-content: center;
    
}

.topbar_text-style {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.topbar_item-end {
    background-color: green;
    align-content: center;
}

.topbar_brand-button {
    border: none;
    background-color: transparent;
}



