@page "/home"
@layout MainLayout


<PageTitle>Home</PageTitle>
<div class="main-content">
    <div>
        <h1 class="sub-headding">Resources</h1>
        <div class="resource-buttongroup-container">

            <button class="button-no-style button-hover-border resource-buttongroup-item">

                <i class="bi bi-plus-circle-dotted button-icon"></i>
                <span class="button-icon-text">Reinforcment</span>

            </button>


            <button class="button-no-style button-hover-border resource-buttongroup-item">

                <i class="bi bi-person-check button-icon"></i>
                <span class="button-icon-text">Supervised</span>

            </button>

            <button class="button-no-style button-hover-border resource-buttongroup-item">

                <i class="bi bi-person-x button-icon"></i>
                <span class="button-icon-text">Unsupervised</span>

            </button>

            <button class="button-no-style button-hover-border resource-buttongroup-item">

                <i class="bi bi-bar-chart-line button-icon"></i>
                <span class="button-icon-text">Regression</span>

            </button>

            <button class="button-no-style button-hover-border resource-buttongroup-item">

                <i class="bi bi-collection button-icon"></i>
                <span class="button-icon-text">Classification</span>

            </button>
        </div>

    </div>
    

</div>



