@page "/home"
@layout MainLayout

<div class="main-content">
        <div>
            <h1 class="sub-headding">Resources</h1>

            <div class="resource-buttongroup-container">

                <button class="resource-buttongroup-item">
                    <i class="bi bi-plus-circle-dotted button-icon secondary-color"></i>
                    <span class="button-icon-text">Reinforcment</span>
                </button>

                <button class="resource-buttongroup-item ">
                    <i class="bi bi-person-check button-icon secondary-color"></i>
                    <span class="button-icon-text">Supervised</span>
                </button>

                <button class="resource-buttongroup-item">
                    <i class="bi bi-person-x button-icon secondary-color"></i>
                    <span class="button-icon-text">Unsupervised</span>
                </button>

                <button class="resource-buttongroup-item">
                    <i class="bi bi-bar-chart-line button-icon secondary-color"></i>
                    <span class="button-icon-text">Regression</span>
                </button>

                <button class="resource-buttongroup-item">
                    <i class="bi bi-collection button-icon secondary-color"></i>
                    <span class="button-icon-text">Classification</span>
                </button>
            </div>

        </div>

        <div>
            <h1 class="sub-headding">Documentation</h1>
            <div class="documentation-group-container">
            <Documentation_Card Card_Title="Supervised" Card_Body_Text=@Supervised_Learning_Card_Content> </Documentation_Card>
            <Documentation_Card Card_Title="Unsupervised" Card_Body_Text=@Unsupervised_Learning_Card_Content />
            <Documentation_Card Card_Title="Regression" Card_Body_Text=@Regression_Card_Content />
            <Documentation_Card Card_Title="Classification" Card_Body_Text=@Classification_Learning_Card_Content />
            </div>
        </div>

        <div>
            <h1 class="sub-headding">Language & Jargon</h1>
            <div class="documentation-group-container">
                <Documentation_Card Card_Title="Supervised" Card_Body_Text=@Supervised_Learning_Card_Content> </Documentation_Card>
                <Documentation_Card Card_Title="Unsupervised" Card_Body_Text=@Unsupervised_Learning_Card_Content />
                
            </div>
        </div>

</div>



