.main-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    left: 0px;
    height: 100%;
    padding-left: var(--main-content-margin-padding);
    padding-right: var(--main-content-margin-padding);
    padding-top: 2vh;
    
}

.sub-headding {
    font-size: var(--sub-headding-size);
    color: black;
    padding-bottom: 10px;
}


.resource-buttongroup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    
    
}

.resource-buttongroup-menu-container {
    background-color: transparent;
    height: 40%;
    width: 100%;
    
}

.documentation-group-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    color: red;
    background-color: transparent;
    
}









