.main-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    
    width: 100vw;
    left: 0px;
    top: var(--topbar-size);
    padding-left: var(--main-content-margin-padding);
    padding-right: var(--main-content-margin-padding);
    padding-top: 2vh;
    background-color: transparent;
}

.resource-buttongroup-drop-down-menu {
    height: 20vh;
    width: 100%;
    border: 2px solid black;
}


.sub-headding {
    font-size: var(--sub-headding-size);
    color: black;
    padding-bottom: 1rem;
}

.resource-buttongroup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;  
}

.documentation-group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    color: red;
    background-color: transparent;
}







