@page "/home"
@layout MainLayout
@inject ILogger<Home> Logger
@rendermode InteractiveServer
@using MachineLearningApplication_Build_2.wwwroot.TextContent;

<div class="main-content">
        
    <h1 class="sub-headding">Resources</h1>
      
    <div class="resource-buttongroup-container">
        @foreach (NavigationIconButton_StateClass buildData in @ResourceIconbutton_BuildData)
        {
            <NavigationIconbutton Button_Title=@buildData.ButtonTitle
                                    Button_Icon=@buildData.ButtonIcon
                                    Button_Icon_Color=@buildData.ButtonIconColor
                                    OnClickCallBack=@buildData.OnClickCallBack />
        }
    </div>

    <div class="resource-buttongroup-menu-container">
        <ComponentListCard CardId=@SelectedComponentListCardStateClasses.CardId CardTitle="@SelectedComponentListCardStateClasses.CardTitle" StateClass="@SelectedComponentListCardStateClasses.StateClass" />
    </div>

    <h1 class="sub-headding">Documentation</h1>
    <div class="documentation-group-container">
        <DocumentationCard Card_Title="Supervised" Card_Body_Text=@Supervised_Learning_Card_Content> </DocumentationCard>
        <DocumentationCard Card_Title="Unsupervised" Card_Body_Text=@Unsupervised_Learning_Card_Content />
        <DocumentationCard Card_Title="Regression" Card_Body_Text=@Regression_Card_Content />
        <DocumentationCard Card_Title="Classification" Card_Body_Text=@Classification_Learning_Card_Content />
    </div>

</div>



