<div class="side-naiation-tool-tip-container">
    @foreach (IconButtonStateClass data in @BuildData)
    {
        <div class ="tool-tip-text ">
            @data.ButtonTitle
        </div>
    
    }
</div>
