<div class="card-container ">

    <div class="icon-container">
        <SingleIcon Icon=@IconType IconColor=@IconColor IconSize=@IconSize />
    </div>

    <div class="description-container">
        @Description
    </div>
</div>
