<div class="card-container " @onclick="@HandleOnClickCallBack">

    <div class="icon-container">
        <SingleIcon Icon=@IconType IconColor=IconColor IconSize=@IconSize />
    </div>

    <div class="description-container">
        @Description
    </div>
</div>

