<div class="button-group-main-content"> 
    @foreach (IconButtonStateClass buildData in @BuildData)
    {  
        <div>
            <NavigationIconButton ButtonIcon=@buildData.ButtonIcon ButtonIconColor=@buildData.ButtonIconColor ButtonTitle="" OnClickCallBack=@buildData.OnClickCallBack />
        </div>
        
    }  
</div>
