<button class="button-container " @onclick=@Handle_OnClickCallBack>
    <div class="button-icon">
        <SingleIcon Icon="@ButtonIcon" IconColor="@ButtonIconColor" />
    </div>
    <span class="button-icon-text">@ButtonTitle</span>
</button>

