<div class="button-container" style="height:@HeightCSS">

    <button class="button-header-content" @onclick=@HandleOnclick>
            <SingleIcon Icon="@Icon" IconColor="blue" IconSize="icon-size-small" />
            <span class="button-title" >@ButtonText</span>

        <i class="icon-right" style="visibility: @CloseButtonCSS">
                <SingleIcon Icon=" bi bi-caret-up" IconColor="grey" IconSize="icon-size-small" />
            </i>
    </button>

    <div class="button-body-content">
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
        This is bodt content
       
    </div>
    
    
</div>
